<form action="{{ path('app_humans_login_beneficiaries') }}" METHOD="post">
    <input type="email" name="email"><br>
    <input type="password" name="password"><br>
    <input type="submit" value="sign in">
</form>