.parallax {
	background: #2eb1ab;
}
.parallax-container img {
	opacity: 0.6;
}
.parallax-container {
	height: 300px!important;

}
header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

html {
	color: white;
	background-color: rgba(0,0,0,0.8);
}
body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background:	url("../bundles/AppHumans/img/3.jpg")  no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {

}

.logoimg {
	max-width : 300px;
	margin: 0 auto;
	height: auto;
}

.text {
	color: #e0fdb2;
	font-size: 1.15rem;
	padding: 2px 5px;
}

.center {
	text-align: center;
}


#step0 {
	padding-top: 90px;
}

.blackBtn {
	background: rgba(0,0,0,0.4);
	border: 1px solid rgba(250,250,250,0.3);
	padding: 1.3rem 1.8rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blackBtn:hover {
	background: rgba(250,250,250,0.4);
	border: 1px solid rgba(250,250,250,0.3);
}

.bleu {
	color: #37b1aa;
}

.darkBleu {
	color: #115f50;
}

.jaune {
	color: #e0fdb2;
}

.darkJaune {
	color: #2b4406;
}

.titre {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2rem;
}

#step1 .blackBtn *{
	vertical-align: middle;
}
.blackBtn div {
	text-align: left;
	margin-left: 1rem;
}

.blackBtn div *{
	display: block;
	line-height: 2.5rem;

}

.ib {
	display: inline-block;
}

.main {
	min-height: 550px;
}

.navbar
{
	padding: 0.2rem 1rem;
	background: rgba(250,250,250,0.1);
	border-bottom: 1px solid black;
	position: fixed;
	width: 100%;
}

.navbar a{
	font-size: 2rem;
	color: #37b1aa;

}

.break {
	width: 100%;
	background: white;
	height: 23px;
}

.icones img {
	margin:  2px  0 ;
	border: #e0fdb2;
	display: inline-block;
	vertical-align: middle;
	width: 27%;
	height: auto;
}

.icones img:hover {
	box-shadow: 0px 1px 2px #545551;

	border: 1px solid #e0fdb2;
	border-bottom: 2px solid #e0fdb2;
}


